<section id="main">
  <div class="box" id="map">
    <header>
      <h1>Crime Map</h1>
      <%= link_to 'Locate', nil, :class => 'locate' %>
    </header>
  </div>
</section>

<aside id="sbar">
  <div class="box txt">
    <h1>
      <%=h @offense.name %>
      <span class="badge" data-code="<%= @offense.type_code %>">E</span>
    </h1>
    <p><%= @offense.desc %></p>
    <div id="pulse"></div>
    <div id="total">
      <span class="num"></span>
      <span class="label">Total</span>
    </div>
    <ul class="props">
      <li id="dagerange">
        <strong>Date:</strong>
        <span class="val"><%= "#{(Time.zone.now - 30.days).strftime('%b %d, %Y')} - #{Time.zone.now.strftime('%b %d, %Y')}" %></span>
      </li>
      <li id="lastreport">
        <strong>Last Report:</strong>
        <span class="val"></span>
      </li>
    </ul>
  </div>
</aside>