<% title @offense.name %>
<section id="main" data-permalink="<%= @offense.permalink %>">
  <div class="box" id="map">
    <header>
      <h1>Crime Map</h1>
      <%= link_to 'Locate', nil, :class => 'locate' %>
    </header>
    <div id="canvas"></div>
  </div>
  
  <div class="box" id="history">
    <header>
      <h1>History of <%= @offense.name %> Reports in Portland, OR</h1>
    </header>
    <div id="history-canvas"></div>
  </div>
</section>

<aside id="sbar">
  <div class="box txt">
    <h1>
      <%=h @offense.name %>
      <g:plusone size="small"></g:plusone>  
    </h1>
    <p><%= @offense.desc %></p>
    <div id="pulse"></div>
    <% summary = @trend['value'] %>
    <% total = summary['night'].to_i + summary['day'].to_i %>
    <div class="trend-grid">
      <ul class="times">
        <li class="day" title="Daylight: 5am-6pm">
          <span class="num"><%= number_with_delimiter(summary['day'].to_i) %></span>
          <span class="percent"><%= ((summary['day'] / total) * 100).round %>%</span>
        </li>
        <li class="night" title="Dark: 6pm-5am">
          <span class="num"><%= number_with_delimiter(summary['night'].to_i) %></span>
          <span class="percent"><%= ((summary['night'] / total) * 100).round %>%</span>
        </li>
        <li class="nightlife" title="Weekend Nightlife: Fri, Sat 8pm-2am">
          <span class="num"><%= number_with_delimiter(summary['nightlife'].to_i) %></span>
          <span class="percent"><%= ((summary['nightlife'] / total) * 100).round %>%</span>
        </li>
      </ul>
    </div>
    <div id="total">
      <span class="num"></span>
      <span class="label">30 Day Total</span>
    </div>
    <ul class="props">
      <li id="dagerange">
        <strong>Date Range:</strong>
        <span class="val"><%= "#{(Time.zone.now - 30.days).strftime('%b %d, %Y')} - #{Time.zone.now.strftime('%b %d, %Y')}" %></span>
      </li>
      <li id="lastreport">
        <strong>Last Report:</strong>
        <span class="val"></span>
      </li>
      <li id="topneighborhoods">
        <strong>Recurrent Neighborhoods:</strong>
        <ul class="val proplist"></ul>
      </li>
    </ul>
  </div>
</aside>