<section id="main">  
  <div class="box wfilter" id="map">
    <header>
      <h1 id="map-header">Crime Map</h1>
      <% link_to 'Locate', nil, :class => 'locate' %>
    </header>
    <div id="canvas"></div>
  </div>
</section>
<aside id="sbar">
  <!-- offense-nav -->
  <section id="offense-nav" class="box">
    <header><h1>Crime Types</h1></header>
    <ul class="offenses">
      <% @offenses.each do |group, offs| %>
      <% permalink = group[:name].parameterize %>
      <% collapse = permalink != 'violent' %>
        <li class="group" data-code="<%= permalink[0..1] %>">
          <span class="otype">
            <span class="check group" data-code="<%= permalink[0..1] %>">3</span>
            <%= link_to group[:name], {:anchor => permalink}, :class => "#{permalink[0..1]}" %>
            <span class="exp<%= collapse ? ' collapsed' : '' %>">9</span>
          </span>
          <ul class="offenses" style="<%= collapse ? 'display:none' : '' %>">
            <% offs.each do |off| %>
            <li class="off">
              <span class="check" data-code="<%= off.code %>">3</span>
              <%= link_to off.name, off %>
              <span class="code">(<%= off.code %>)</span>
            </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </section>
  <!-- /offense-nav -->
  <section id="p1" class="box faded">
    <g:plusone></g:plusone>  
  </section>
</aside>