<% title 'MAX, Street car and Bus Route Crime' %>

<div class="box rte-group">
  <header><h1>Portland Streetcar Routes</h1></header>
  <table class="routes">
    <% @sc_routes.group_by(&:rte).each do |rte, routes| %>
    <tr>
      <th><%= routes.first.desc -%></th>
      <%- routes.sort_by(&:dir).each do |rt| -%>
      <td>
        <% link_to route_path(rt) do %>
          <% if rt.dir == 0 %><span class="glyph">[</span><% end %>
          <%= rt.dir_desc.gsub(/To/, 'to') %>
          <% if rt.dir == 1 %><span class="glyph">]</span><%- end %>
        <% end %>
      </td>
      <%- end -%>
    </tr>
    <%- end -%>
  </table>
</div>

<div class="box rte-group">
  <header><h1>Trimet MAX Routes</h1></header>
  <table class="routes">
    <% @max_routes.group_by(&:rte).each do |rte, routes| %>
    <tr>
      <th><%= routes.first.desc -%></th>
      <%- routes.sort_by(&:dir).each do |rt| -%>
      <td>
        <% link_to route_path(rt) do %>
          <% if rt.dir == 0 %><span class="glyph">[</span><% end %>
          <%= rt.dir_desc.gsub(/To/, 'to') %>
          <% if rt.dir == 1 %><span class="glyph">]</span><%- end %>
        <% end %>
      </td>
      <%- end -%>
    </tr>
    <%- end -%>
  </table>
</div>

<div class="box rte-group">
  <header><h1>Trimet Bus Routes</h1></header>
  <table class="routes">
    <% @bus_routes.group_by(&:rte).each do |rte, routes| %>
    <tr>
      <th><span class="prte">#<%= rte %></span> <%= routes.first.desc -%></th>
      <%- routes.sort_by(&:dir).each do |rt| -%>
      <td>
        <% link_to route_path(rt) do %>
        <% if rt.dir == 0 %><span class="glyph">[</span><% end %>
        <%= rt.dir_desc.gsub(/To/, 'to') %>
        <% if rt.dir == 1 %><span class="glyph">]</span><%- end %>
        <% end %>
      </td>
      <% if routes.length == 1 %><td></td><% end %>
      <%- end -%>
    </tr>
    <%- end -%>
  </table>
</div>