<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Portland Crime - *Alpha Preview' %></title>
  <meta name="keywords" content="portland crime pdx safety neighborhood chinatown pearl downtown southwest southeast northeast map homicide assault larceny prostitution murder gangs police oregon" />
  <meta name="description" content="Track and review all types of crimes happening across Portland, OR neighborhoods."/>
  <%= include_stylesheets :core %>
  <%= include_javascripts :vendor, :app %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7881178-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body data-path="<%= controller.controller_path %>-<%= controller.action_name %>">
  <header id="top">
    <div class="wrap">
      <div class="wrap-inner">
        <h1><%= image_tag '/images/logo.png', :alt => 'Portland Crime logo' %></h1>
        <div id="subbar">
          <nav id="primary">
            <ul>
              <li class="home"><%= link_to(root_path) { "<span>@</span> Home" } %></li>
              <li class="trends"><%= link_to(trends_path) { "<span>Y</span> Trends" } %></li>
              <li class="about"><%= link_to(root_path) { "<span>i</span> About" } %></li>
            </ul>
          </nav><% if @last_import %><span class="last-import">Data Updated <%= @last_import.created_at.strftime('%A, %B %d %-I:%M %p') %></span><% end %>
        </div>
      </div>
    </div>
  </header>
  
  <section id="content">
    <div class="wrap">
      <div class="wrap-inner">
        <%= yield %>
      </div>
    </div>
  </section>
  
  <footer>
    <div class="wrap">
      <div class="wrap-inner">
        <div class="box">Copyright &copy; 2010 Labrat Revenge LLC.</div>
      </div>
    </div>
  </footer>

</body>
</html>
