<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Portland Crime' %></title>
  <meta name="keywords" content="<%= @keywords %> portland crime pdx safety neighborhood chinatown pearl downtown southwest southeast northeast northwest map homicide assault larceny prostitution murder gangs police oregon" />
  <meta name="description" content="Track and review all types of crimes happening across Portland, OR neighborhoods."/>
  <%= include_stylesheets :core %>
  <%= include_javascripts :vendor, :app %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    
    <% if Rails.env == 'production' || true %>
    _gaq.push(['_setAccount', 'UA-7881178-3']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', 'none']); 
    _gaq.push(['_setAllowLinker', true]); 

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    <% end %>
  </script>
  <script type="text/javascript" charset="utf-8">
    <%= yield :page_js %>
  </script>
</head>
<body data-path="<%= controller.controller_path %>-<%= controller.action_name %>">
  <header id="top">
    <div class="wrap">
      <div class="wrap-inner">
        <h1 id="logo"><%= link_to image_tag('/images/logo.png', :alt => 'Portland Crime logo'), root_path %></h1>
        <div id="subbar">
          <nav id="primary">
            <ul>
              <li class="home<%= selected_class :home %>"><%= link_to(root_path) { "<span>@</span> Crimes".html_safe } %></li>
              <li class="trends<%= selected_class :trends %>"><%= link_to(trends_path) { "<span>Y</span> Trends".html_safe } %></li>
              <li class="about<%= selected_class :neighborhoods %>"><%= link_to(neighborhoods_path) { "<span>H</span> Neighborhoods".html_safe } %></li>
              <li class="about<%= selected_class :about %>"><%= link_to(about_path) { "<span>i</span> About".html_safe } %></li>
            </ul>
            </nav><% if @last_import %><span class="last-import">Data Updated <%= @last_import.created_at.strftime('%A, %B %d %-I:%M %p') %></span><% end %>
        </div>
      </div>
    </div>
  </header>
  
  <section id="content">
    <div class="wrap">
      <div class="wrap-inner">
        <%= yield %>
      </div>
    </div>
  </section>
  
  <footer>
    <div class="wrap">
      <div class="wrap-inner">
        <div class="box">Copyright &copy; 2010 Labrat Revenge LLC.</div>
      </div>
    </div>
  </footer>

</body>
</html>
